bin/
obj/

*.dll
*.exe
*.so
*.dylib
*.log
*.sql
*.sqlite

*.user
*.userosscache
*.suo
*.userprefs
*.csproj.user

mono_crash.*

.vscode/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

ScaffoldingReadMe.txt

.idea/

.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/project-template.xml
.idea/**/workspace.xml
.idea/**/editor.code-style.xml
.idea/**/jsLibraryMappings.xml
.idea/**/debugger.xml
.idea/**/vcs.xml

.idea/misc.xml
.idea/modules.xml

**/*.dcvr

!/.idea/fileTemplates
!/.idea/modules.xml
!/.idea/project-template.xml

dotnet publish
*.runtimeconfig.json
*.deps.json
*.dll

IISExpress/
.vs/
*.[Cc]onfig
config/
.vs/config/

localhistory/

appsettings*.json
secrets.json

.git/

Thumbs.db

.Trashes

Thumbs.db
ehthumbs.db

Desktop.ini

.vscode/*
.vscode/

.idea/
*.iml

